torch
accelerate==0.21.0 
transformers==4.31.0 
tokenizers==0.13.3 
bitsandbytes==0.40.0 
einops==0.6.1  
langchain==0.1.4 
faiss-cpu 
sentence_transformers 
pypdf 
PyPDF2
langchain_community 
python-dotenv 
streamlit==1.31.0
openai
tiktoken
pandas
numpy
ragas
deepeval
